<h1>Результат</h1>
<p>Таблица взаимно дружественных чисел</p>
<% if @result == -1 %>
  <P>Некорректные данные</P>
<% elsif @result == 0 %>
  <P>Взаимно дружественных чисел нет</P>
<% else %>
  <table>
    <% @result.each do |v| %>
      <tr>
        <td><%= v[0] %></td>
        <td><%= v[1] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br><br>
<%= link_to "Повторить вычисления", :number_input %>